extends layout

block content
	- let errs = {};
	- for(let err of errors) {
	-	errs[err.param] = true;
	- }

	div.sign-div
		h1 Sign In
		form(method='POST' action='/user/login')
		
			div.input-div
				div.form-email
					- if(errs['email']) {
						span='Email or username'
						input.form-control(type='text' id='email' placeholder='Email' name='email' style='border-color:red; background-color:#ffeeee;')
					- } else
						input.form-control(type='text' id='email' placeholder='Email' name='email')
				div.form-pass
					- if(errs['password']) {
						div.pass-tooltip
							p='Your password must contain:'
							ul
								li.
									lower and and upper case character
								li.
									a number
								li.
									a special character
						span='Invalid password'
						input.form-control(type='password' id='password' placeholder='Password' name='password'  style='border-color:red; background-color:#ffeeee;')
					- } else {
						div.pass-tooltip
							p='Your password must contain:'
							ul
								li.
									lower and and upper case character
								li.
									a number
								li.
									a special character
						input.form-control(type='password' id='password' placeholder='Password' name='password')
					- }
			input(type='submit', value='Login') 
		a(href='/user/forgot')='Forgot your password?'
		br
		a(href='/user/signup')='Don\'t have an account?'

block scripts_styles
	link(rel='stylesheet', href='/stylesheets/userStyle.css')
